$primary: #474a51;
$secondary: #357a63;

$fucsia: #b24273;

$blue: #232346;
$blue-2: rgba(35, 35, 70, 0.8);
$lightblue: #66aebf;

$black: #171616;
$gray-1: #786a58;
$gray-2: rgba(255,255,255,.65);
$gray-3: #c7b5a9