.base-filters {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;

    .MuiSelect-select {
        background: rgba(255,255,255,.25);
        height: 30px;
    }

    .Mui-checked { 
        color: $fucsia !important;
    }

    .Mui-checked+.MuiSwitch-track {
        background-color: $fucsia !important;
    }

    .MuiFormControlLabel-label {
        color: white;
        font-weight: 500;
    }
    
    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: $fucsia;
    }

    .Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: $fucsia !important;
      }
}